.our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #bfbfbf;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 1vh;
}

.team-content {
    margin-top: -3vh;
    padding-bottom: 2vh;
}

.our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
}

.our-team .picture::before {
    content: "";
    width: 100%;
    margin: 0 auto;
    height: 50%;
    border-radius: 50%;
    background-color: #57a3e4;
    position: absolute;
    bottom: 250%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(5);
    transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
    height: 25%;
    width: 25%;
    bottom: 37%;
}

.our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #2D2E83;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
    box-shadow: 0 0 0 14px #bfbfbf;
    transform: scale(0.7);
}

.our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    /* text-transform: capitalize; */
}

.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(32, 13, 75);
    position: absolute;
    bottom: -80px;
    left: 0;
    transition: all 0.5s ease 0s;

    -webkit-transform: skewY(-14deg);
    -moz-transform: skewY(-14deg);
    -ms-transform: skewY(-14deg);
    -o-transform: skewY(-14deg);
    transform: skewY(-14deg);
}

.our-team:hover .social {
    bottom: 10px;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.our-team .social li a:hover {
    color: #57a3e4;
    background-color:#bfbfbf;
}

.name {
font-weight: 400;
}

.surname {
font-weight: 900;
letter-spacing: 1px;
padding-bottom: 1vh;
}

 .our-team .savoirplus {
position: absolute;
bottom: -80px;
padding-top: 7vh;
}

.our-team:hover .savoirplus{
    font-weight: light;
font-size: 0.7em ! important;
text-transform: uppercase;
    background: #ffffff75;
    padding: 1vh;
    -webkit-transform: skewY(-14deg);
    -moz-transform: skewY(-14deg);
    -ms-transform: skewY(-14deg);
    -o-transform: skewY(-14deg);
    transform: skewY(-14deg);
    bottom: -3.5vh;
    text-align: right;
    width: 100%;

}