.container {
    margin:0 auto;
}

p{
    text-align: justify;
}

.display-4 {
    font-size: 2.3rem !important;
    letter-spacing: 3px;
    color:rgb(95, 95, 95);
}

footer {
    margin: 0 auto;
    background: rgba(119, 136, 153, 0.418);
    font-size:0.75rem;
  
}
.web{
    text-align: end;
}

span{
    color:rgb(56, 55, 55);
}

span:hover{
    color:gray;
}

.aligncenter{
    text-align: center;
}

.list-group{
    margin:0 auto;
}

.list-group-item {
    border: none;
    background: rgba(119, 136, 153, 0.418);
}


a{
    text-decoration: none;
    color:rgb(56, 55, 55);
    
    
}
a:hover{
    color:gray;
    text-decoration: none;
}