body {
    font-family: 'Poppins', sans-serif;
    background: url("../fond.png") no-repeat fixed;
}

.container {
    margin: 0 auto;
}

.container-fluid {
    margin: 0 auto;
    padding: 0;
}


p {
    text-align: justify;
}

.display-4-custom {
    font-size: 2.3rem !important;
    letter-spacing: 3px;
    color: rgb(71, 9, 9);
}

footer {
    margin: 0 auto;
    background: #bfbfbf79;
    font-size: 0.75rem;
    padding: 1vh;
    padding-top: 2vh;
}

.web {
    text-align: end;
}

span {
    color: rgb(56, 55, 55);
}

span:hover {
    color: gray;
}

.aligncenter {
    text-align: center;
}

.list-group {
    margin: 0 auto;
}

.list-group-item {
    border: none;
    background: rgba(119, 136, 153, 0.418);
}

a {
    text-decoration: none;
    color: rgb(56, 55, 55);
}

a:hover {
    color: gray;
    text-decoration: none;
}

.skewgroupe {
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
    background-color: rgb(32, 13, 75);
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
    color: silver;
    padding: 1vh;
}

.skewwf3 {
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
    background-color: rgb(32, 13, 75);
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 3vh;
    color: silver;
    padding-top: 1vh;
    padding-bottom: 4vh;
}

.titredesc {
    color: #57a3e4;
}



.bottom {
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
}

.lienfoot {
    font-size: 1.3em !important;
}
.lienfoot:hover {
    font-size: 1.4em !important;
    color: #57a3e4;

}